body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  color: white;
}

#par { /* height: 100px; */
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  outline: 20px groove red;
  outline-offset: 20px;
  padding: 0 20px;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
